
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './myIndexTic';

// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
body {
  background-color: #fa8072;
  margin: 0 auto;
  padding: 25px;
}

#headBar {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: lavender;
}

#mainPage {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: tan;
}

#navBar {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: beige;
}

#greeting {
  margin: 0 auto;
  font-style: italic;
}

#left_main {
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 200px;
}

#right_main {
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
 }

#one_one {
  border: solid black;
  border-width: 0px 1px 1px 0px;
  height: 86px;
  width: 104px;
}

#one_two {
  border: solid black;
  border-width: 0px 0px 1px 0px;
  height: 86px;
  width: 104px;
}

#one_three {
  border: solid black;
  border-width: 0px 0px 1px 1px;
  height: 86px;
  width: 104px;
}

#two_one {
  border: solid black;
  border-width: 0px 1px 1px 0px;
  height: 86px;
  width: 104px;
}

#two_two {
  border: solid black;
  border-width: 0px 0px 1px 0px;
  height: 86px;
  width: 104px;
}

#two_three {
  border: solid black;
  border-width: 0px 0px 1px 1px;
  height: 86px;
  width: 104px;
}

#three_one {
  border: solid black;
  border-width: 0px 1px 0px 0px;
  height: 86px;
  width: 104px;
}

#three_two {
  border: solid black;
  border-width: 0px 1px 0px 0px;
  height: 86px;
  width: 104px;
}

#three_three {
  border: solid black;
  border-width: 0px;
  height: 86px;
  width: 104px;
}

.cell {
  font-size: 50px;
  font-family: Arial;
  font-style: bold;
  font-color: black;
  text-align: center;
}

table td:hover {
  background-color: yellow;
}

.O {
  font-size: 50px;
  font-family: Arial;
  font-style: bold;
  font-color: red;
  text-align: center;
}

.X {
  font-size: 50px;
  font-family: Arial;
  font-style: bold;
  font-color: green;
  text-align: center;
}

#reset {
  color: white;
  background-color: blue;
  border-radius: 5px;
}

#footerContact {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: beige;
}

a:hover {
  background-color: red;
}
